<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abai Academy</title>

    <!-- Css -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/all.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <link rel="stylesheet" href="../css/feedback.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>

<body>

    <div class="header-top">
        <div class="container d-flex">
            <div class="contact-info">
                <a href="javascript:void(0);">
                    <i class="fas fa-map-marker-alt"></i>
                    Алматы, Масаншы көшесі , 39
                </a>
                <a href="tel:+77778943590">
                    <i class="fas fa-mobile-alt"></i>
                    +7 777 894 3590
                </a>
            </div>
            <div class="social-links">
                <form action="#">
                    <select name="language" id="language" class="langSelect">
                        <option value="kz">Қазақша</option>
                        <option value="ru">Русский</option>
                    </select>
                </form>
                <a href="https://www.instagram.com/abai.academy/" style="color: #e4405f;" target="_blank"><i
                        class="fab fa-instagram"></i></a>
                <a href="https://web.facebook.com/" style="color: #3b5999;" target="_blank"><i
                        class="fab fa-facebook"></i></a>
                <a href="https://www.vk.com/" style="color: #4c75a3;" target="_blank"><i class="fab fa-vk"></i></a>
                <a href="https://www.telegram.org/" style="color: #0088cc;" target="_blank"><i
                        class="fab fa-telegram"></i></a>
                <a href="https://www.youtube.com/" style="color: #cd201f;" target="_blank"><i
                        class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>

    <header class="header sticky-top">
        <div class="container d-flex">
            <a href="index.html" class="logo-link">
                <div class="logo d-flex">
                    <img src="../img/abai_academy.png" alt="LOGO" />
                    <h3 class="logo-title">Abai <br> Academy</h3>
                </div>
            </a>
            <button type="button" class="nav-button" onclick="toggleNavbar('.navbar')">
                <i class="fas fa-bars"></i>
            </button>
            <nav class="navbar">
                <a href="index.html">Басты бет</a>
                <a href="news.html">Жаңалықтар</a>
                <a href="services.html">Қызметтер</a>
                <a href="about-us.html" class="active">Біз туралы</a>
                <a href="gallery.html">Галерея</a>
            </nav>
        </div>
    </header>

    <section class="app-section about-us-first-section p-0">
        <div class="dark-bg">
            <div class="container">
                <div class="about-us-texts">
                    <h4><b>Abai Academy</b> - бұл әр түрлі салада мықты білімі бар адамдарды жұмыспен қамтыған білім
                        беру қызметтерінің орталығы</h4>
                    <h4><b>Біздің команда</b> - бұл жастық пен тәжірибенің қосындысы!</h4>
                    <h4> <b>Біздің орталықтың басты мақсаты</b> - жас
                        ұрпақтың бойында білімге, спорт пен мәдениетке деген сүйіспеншілікті қалыптастыру.</h4>
                </div>
            </div>
        </div>
    </section>

    <section class="app-section">
        <div class="container">
            <div class="section-title d-flex">
                <hr>
                <h3 class="section-heading">Бізге арналған тілектер</h3>
                <hr>
            </div>
            <div class="slider">
                <div class="slider__wrapper">
                    <div class="slider__items">
                        <div class="slider__item slider__item_1">
                            <div class="slider__item_inner">
                                <span class="slider__item_img">
                                    <img class="slider__item_photo" src="../img/feedback-ava.jfif" alt="">
                                </span>
                                <span class="slider__item_testimonial">
                                    <span class="slider__item_name">Ismael Matsuura</span>
                                    <span class="slider__item_post">Web Developer</span>
                                    <span class="slider__item_text">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nihil quo
                                        molestiae perspiciatis qui vero?
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="slider__item slider__item_2">
                            <div class="slider__item_inner">
                                <span class="slider__item_img">
                                    <img src="../img/feedback-ava.jfif" alt="">
                                </span>
                                <span class="slider__item_testimonial">
                                    <span class="slider__item_name">Lawanda Batchelder</span>
                                    <span class="slider__item_post">Web Designer</span>
                                    <span class="slider__item_text">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nihil quo
                                        molestiae perspiciatis qui vero?
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="slider__item slider__item_3">
                            <div class="slider__item_inner">
                                <span class="slider__item_img">
                                    <img src="../img/feedback-ava.jfif" alt="">
                                </span>
                                <span class="slider__item_testimonial">
                                    <span class="slider__item_name">Bennett Arbogast</span>
                                    <span class="slider__item_post">Web Developer</span>
                                    <span class="slider__item_text">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nihil quo
                                        molestiae perspiciatis qui vero?
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="slider__item slider__item_4">
                            <div class="slider__item_inner">
                                <span class="slider__item_img">
                                    <img src="../img/feedback-ava.jfif" alt="">
                                </span>
                                <span class="slider__item_testimonial">
                                    <span class="slider__item_name">Shanna Parcell</span>
                                    <span class="slider__item_post">Web Designer</span>
                                    <span class="slider__item_text">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nihil quo
                                        molestiae perspiciatis qui vero?
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="slider__control slider__control_prev" href="#" role="button"></a>
                <a class="slider__control slider__control_next" href="#" role="button"></a>
            </div>
        </div>
    </section>

    <section class="app-section">
        <div class="container">
            <div class="section-title d-flex">
                <hr>
                <h3 class="section-heading">Біздің ұстаздар</h3>
                <hr>
            </div>
            <div class="teachers">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="card">
                            <img src="../img/teachers/teachers2.jpeg" class="card-img-top" alt="CARD_IMG">
                            <div class="card-body">
                                <h5 class="card-title">Қаупенбаева Роза Басарғабызқызы</h5>
                                <p class="card-text">
                                    <i class="fas fa-check-square"></i> Биологоия ғылымдарының кандидаты</p>
                                <p class="card-text">
                                    <i class="fas fa-check-square"></i> ҚР білім беру ісінің құрметті қызметкері</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="card">
                            <img src="../img/teachers/teachers4.jpeg" class="card-img-top" alt="CARD_IMG">
                            <div class="card-body">
                                <h5 class="card-title">Манарбек Бейімбет Манарбекұлы</h5>
                                <p class="card-text">
                                    <i class="fas fa-check-square"></i> Гуманитарлық ғылымдар магистрі</p>
                                <p class="card-text">
                                    <i class="fas fa-check-square"></i> МГУ - да қызметте болған</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="card">
                            <img src="../img/teachers/teachers5.jpeg" class="card-img-top" alt="CARD_IMG">
                            <div class="card-body">
                                <h5 class="card-title">Әбдіназаров Димаш</h5>
                                <p class="card-text">
                                    <i class="fas fa-check-square"></i> Математика ғылымдарының магистрі</p>
                                <p class="card-text">
                                    <i class="fas fa-check-square"></i> Пекин университетінде қызметте болған</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="card">
                            <img src="../img/teachers/teachers6.jpeg" class="card-img-top" alt="CARD_IMG">
                            <div class="card-body">
                                <h5 class="card-title">Ысқақов Бақтияр Әбутәліпұлы</h5>
                                <p class="card-text">
                                    <i class="fas fa-check-square"></i> Ядролық физика магистрі</p>
                                <p class="card-text">
                                    <i class="fas fa-check-square"></i> ҚазҰУ-дың үздік жас ғалымы (2020 ж)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="card">
                            <img src="../img/teachers/teachers7.jpeg" class="card-img-top" alt="CARD_IMG">
                            <div class="card-body">
                                <h5 class="card-title">Болысбеков Нұрбол Нұртазаұлы</h5>
                                <p class="card-text">
                                    <i class="fas fa-check-square"></i> Тарих ғылымдарының магистрі</p>
                                <p class="card-text">
                                    <i class="fas fa-check-square"></i> Стамбул университетінің түлегі</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="card">
                            <img src="../img/teachers/teachers10.jpeg" class="card-img-top" alt="CARD_IMG">
                            <div class="card-body">
                                <h5 class="card-title">Ахметжанов Дастан</h5>
                                <p class="card-text">
                                    <i class="fas fa-check-square"></i> Тарих ғылымдарының магистрі</p>
                                <p class="card-text">
                                    <i class="fas fa-check-square"></i> Ақын</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer class="footer">
        <div class="container d-flex">
            <p>
                &copy; ABAI ACADEMY. Барлық құқықтар қорғалған
            </p>
            <div class="social-links">
                <a href="https://www.instagram.com/abai.academy/" style="color: #e4405f;" target="_blank"><i
                        class="fab fa-instagram"></i></a>
                <a href="https://web.facebook.com/" style="color: #3b5999;" target="_blank"><i
                        class="fab fa-facebook"></i></a>
                <a href="https://www.vk.com/" style="color: #4c75a3;" target="_blank"><i class="fab fa-vk"></i></a>
                <a href="https://www.telegram.org/" style="color: #0088cc;" target="_blank"><i
                        class="fab fa-telegram"></i></a>
                <a href="https://www.youtube.com/" style="color: #cd201f;" target="_blank"><i
                        class="fab fa-youtube"></i></a>
            </div>
        </div>
    </footer>

    <!-- JavaScript -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/feedback.js"></script>
</body>

</html>