<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abai Academy</title>

    <!-- Css -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/all.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <link rel="shortcut icon" href="../img/abai_academy.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>

<body>

    <div class="header-top">
        <div class="container d-flex">
            <div class="contact-info">
                <a href="javascript:void(0);">
                    <i class="fas fa-map-marker-alt"></i>
                    Алматы, Масаншы көшесі , 39
                </a>
                <a href="tel:+77778943590">
                    <i class="fas fa-mobile-alt"></i>
                    +7 777 894 3590
                </a>
            </div>
            <div class="social-links">
                <form action="#">
                    <select name="language" id="language" class="langSelect">
                        <option value="kz">Қазақша</option>
                        <option value="ru">Русский</option>
                    </select>
                </form>
                <a href="https://www.instagram.com/abai.academy/" style="color: #e4405f;" target="_blank"><i
                        class="fab fa-instagram"></i></a>
                <a href="https://web.facebook.com/" style="color: #3b5999;" target="_blank"><i
                        class="fab fa-facebook"></i></a>
                <a href="https://www.vk.com/" style="color: #4c75a3;" target="_blank"><i class="fab fa-vk"></i></a>
                <a href="https://www.telegram.org/" style="color: #0088cc;" target="_blank"><i
                        class="fab fa-telegram"></i></a>
                <a href="https://www.youtube.com/" style="color: #cd201f;" target="_blank"><i
                        class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>

    <header class="header sticky-top">
        <div class="container d-flex">
            <a href="index.html" class="logo-link">
                <div class="logo d-flex">
                    <img src="../img/abai_academy.png" alt="LOGO" />
                    <h3 class="logo-title">Abai <br> Academy</h3>
                </div>
            </a>
            <button type="button" class="nav-button" onclick="toggleNavbar('.navbar')">
                <i class="fas fa-bars"></i>
            </button>
            <nav class="navbar">
                <a href="index.html">Басты бет</a>
                <a href="news.html" class="active">Жаңалықтар</a>
                <a href="services.html">Қызметтер</a>
                <a href="about-us.html">Біз туралы</a>
                <a href="gallery.html">Галерея</a>
            </nav>
        </div>
    </header>

    <section class="app-section">
        <div class="container">
            <div class="section-title d-flex">
                <hr>
                <h3 class="section-heading">Жаңалықтар</h3>
                <hr>
            </div>
            <div class="news-block">
                <div class="news-item">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="card">
                                <img src="../img/img.jpg" class="card-img-top" alt="CARD_IMG">
                                <div class="card-body">
                                    <a href="news-detail.html">
                                        <h5 class="card-title">News title</h5>
                                    </a>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's content.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="card">
                                <img src="../img/img.jpg" class="card-img-top" alt="CARD_IMG">
                                <div class="card-body">
                                    <a href="#">
                                        <h5 class="card-title">News title</h5>
                                    </a>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's content.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="card">
                                <img src="../img/img.jpg" class="card-img-top" alt="CARD_IMG">
                                <div class="card-body">
                                    <a href="#">
                                        <h5 class="card-title">News title</h5>
                                    </a>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's content.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="card">
                                <img src="../img/img.jpg" class="card-img-top" alt="CARD_IMG">
                                <div class="card-body">
                                    <a href="#">
                                        <h5 class="card-title">News title</h5>
                                    </a>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's content.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="card">
                                <img src="../img/img.jpg" class="card-img-top" alt="CARD_IMG">
                                <div class="card-body">
                                    <a href="#">
                                        <h5 class="card-title">News title</h5>
                                    </a>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's content.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4">
                            <div class="card">
                                <img src="../img/img.jpg" class="card-img-top" alt="CARD_IMG">
                                <div class="card-body">
                                    <a href="#">
                                        <h5 class="card-title">News title</h5>
                                    </a>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's content.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer class="footer">
        <div class="container d-flex">
            <p>
                &copy; ABAI ACADEMY. Барлық құқықтар қорғалған
            </p>
            <div class="social-links">
                <a href="https://www.instagram.com/abai.academy/" style="color: #e4405f;" target="_blank"><i
                        class="fab fa-instagram"></i></a>
                <a href="https://web.facebook.com/" style="color: #3b5999;" target="_blank"><i
                        class="fab fa-facebook"></i></a>
                <a href="https://www.vk.com/" style="color: #4c75a3;" target="_blank"><i class="fab fa-vk"></i></a>
                <a href="https://www.telegram.org/" style="color: #0088cc;" target="_blank"><i
                        class="fab fa-telegram"></i></a>
                <a href="https://www.youtube.com/" style="color: #cd201f;" target="_blank"><i
                        class="fab fa-youtube"></i></a>
            </div>
        </div>
    </footer>

    <!-- JavaScript -->
    <script src="../js/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> -->
    <script src="../js/bootstrap.min.js"></script>
    <!-- <script src="../js/slick.min.js"></script> -->
    <script src="../js/main.js"></script>
</body>

</html>