<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abai Academy</title>

    <!-- Css -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/all.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <link rel="shortcut icon" href="../img/abai_academy.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>

<body>

    <div class="header-top">
        <div class="container d-flex">
            <div class="contact-info">
                <a href="javascript:void(0);">
                    <i class="fas fa-map-marker-alt"></i>
                    Алматы, Масаншы көшесі , 39
                </a>
                <a href="tel:+77778943590">
                    <i class="fas fa-mobile-alt"></i>
                    +7 777 894 3590
                </a>
            </div>
            <div class="social-links">
                <form action="#">
                    <select name="language" id="language" class="langSelect">
                        <option value="kz">Қазақша</option>
                        <option value="ru">Русский</option>
                    </select>
                </form>
                <a href="https://www.instagram.com/abai.academy/" style="color: #e4405f;" target="_blank"><i
                        class="fab fa-instagram"></i></a>
                <a href="https://web.facebook.com/" style="color: #3b5999;" target="_blank"><i
                        class="fab fa-facebook"></i></a>
                <a href="https://www.vk.com/" style="color: #4c75a3;" target="_blank"><i class="fab fa-vk"></i></a>
                <a href="https://www.telegram.org/" style="color: #0088cc;" target="_blank"><i
                        class="fab fa-telegram"></i></a>
                <a href="https://www.youtube.com/" style="color: #cd201f;" target="_blank"><i
                        class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>

    <header class="header sticky-top">
        <div class="container d-flex">
            <a href="index.html" class="logo-link">
                <div class="logo d-flex">
                    <img src="../img/abai_academy.png" alt="LOGO" />
                    <h3 class="logo-title">Abai <br> Academy</h3>
                </div>
            </a>
            <button type="button" class="nav-button" onclick="toggleNavbar('.navbar')">
                <i class="fas fa-bars"></i>
            </button>
            <nav class="navbar">
                <a href="index.html">Басты бет</a>
                <a href="news.html">Жаңалықтар</a>
                <a href="services.html" class="active">Қызметтер</a>
                <a href="about-us.html">Біз туралы</a>
                <a href="gallery.html">Галерея</a>
            </nav>
        </div>
    </header>

    <section class="app-section">
        <div class="container">
            <div class="section-title d-flex">
                <hr>
                <h3 class="section-heading">Тіл курстары</h3>
                <hr>
            </div>
            <div class="lang-courses">
                <button class="accordion-btn">
                    <img src="../img/flags/kz.png" alt="">
                    <span>Қазақ тілін шетел азаматтарына үйрету</span>
                </button>
                <div class="panel-block">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <button class="accordion-btn">
                    <img src="../img/flags/uk.png" alt="">
                    <span>Ағылшын тілі</span>
                </button>
                <div class="panel-block">
                    <p> <i class="fas fa-check-square"></i> Ағылшын тілі - №1 халықаралық қатынас тілі.</p>
                    <p> <i class="fas fa-check-square"></i> Бүгінгі күні 750 миллионнан астам адам ағылшын тілінде
                        сөйлейді💂‍♂️</p>
                    <p> <i class="fas fa-check-square"></i> Ағылшын тілі Ұлыбританияда, АҚШ-та, Канадада, Үндістанда,
                        Австралияда, Жаңа Зеландияда, Пәкістанда, Оңтүстік Африка Республикасында, Сингапурда және
                        әлемнің 60-тан астам елінде ресми тіл болып табылады</p>
                    <p> <i class="fas fa-check-square"></i> Ағылшын тілін біле отырып, сіз әлемде жарияланған
                        кітаптардың 70% -дан астамын түпнұсқадан оқи аласыз.</p>
                    <p> <i class="fas fa-check-square"></i>Ағылшын тілі халықаралық мансап құру үшін өте маңызды😎</p>
                </div>

                <button class="accordion-btn">
                    <img src="../img/flags/saudia.png" alt="">
                    <span>Араб тілі</span>
                </button>
                <div class="panel-block">
                    <p> <i class="fas fa-check-square"></i> Араб тілі қолданылу жағынан әлем бойынша бесінші орында тұр☝️</p>
                    <p> <i class="fas fa-check-square"></i> Араб тілі 26 елде ресми түрде мемлекеттік тіл деп танылған</p>
                    <p> <i class="fas fa-check-square"></i> Араб тілі ең таза, ең бай тілдердің бірі. Мұны әлем мойындаған🙏</p>
                    <p> <i class="fas fa-check-square"></i>Араб тілі БҰҰ-ның ресми тілдерінің қатарына кіреді😎</p>
                    <p> <i class="fas fa-check-square"></i>Егер араб тілін өзге тілге аударса, екі есе көп мәтін шығады</p>
                    <p> <i class="fas fa-check-square"></i>Араб тілінде барлық сөздер дауыссыз дыбыспен басталады</p>
                    <p> <i class="fas fa-check-square"></i>Араб тілінде оңнан солға қарай жазылады ⬅️</p>

                    <p>Құрметті достар біз сіздерді Әлемдегі ең көне тілдердің бірі болып есептелетін және адамзат өркениетінің маңызды тарихи мұрасы болып, әлем тарихының барысына көп әсер еткен АРАБ ТІЛІН 🕌 үйрену курсына шақырудамыз!!!</p>
                </div>
            </div>
        </div>
    </section>

    <section class="app-section">
        <div class="container">
            <div class="section-title d-flex">
                <hr>
                <h3 class="section-heading">Біздің қызметтер</h3>
                <hr>
            </div>
            <div class="services-block">
                <div class="service-card">
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="../img/studying.jpg" class="card-img" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Үй тапсырмасын дайындау және барлық пәндер бойынша сабақ беру
                                    </h5>
                                    <p class="card-text">
                                        Сіздің балаңызға мектеп пәнін оқып үйрену қиын бола ма? Оған сабақты түсіндіріп
                                        бере алмайсыз ба? Кәсіби мамандарға сеніңіз.
                                    </p>
                                    <div class="service-list">
                                        <p class="card-text">
                                            <i class="fas fa-check-square"></i> Кез-келген пән бойынша үй тапсырмасын
                                            дайындау
                                        </p>
                                        <p class="card-text">
                                            <i class="fas fa-check-square"></i> Репетиторлық
                                        </p>
                                        <p class="card-text">
                                            <i class="fas fa-check-square"></i> ҰБТ-ға дайындық, КТЛ, НЗМ, РФММ-де оқуға
                                            дайындық
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="../img/diplom.jpg" class="card-img" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Дипломдық және курстық жұмыстар, сондай-ақ рефераттар жазу
                                    </h5>
                                    <p class="card-text">
                                        Биыл Универді бітіресің бе? Сіздің дипломдық жұмысыңыздың тақырыбын таңдай
                                        алмайсыз және қай жаққа жақындаарыңызды білмейсіз бе?
                                    </p>
                                    <p class="card-text">Сізге Абай академиясының командасы көмектеседі 😉</p>
                                    <p class="card-text">Бізде мүлдем басқа салаларда білімі бар магистранттар мен
                                        докторанттар жұмыс істейді. Физика, IT, саясаттану, құқықтану, экономика, бірақ
                                        бәрібір. Біз сізге кез-келген мамандық бойынша диплом жазамыз</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="../img/dombra.jpg" class="card-img" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Домбыра үйірмесі
                                    </h5>
                                    <p class="card-text">
                                        4 мың жылдан астам уақыт бұрын біздің ата-бабаларымыз домбырада ойнағанын
                                        білесіз бе?
                                    </p>
                                    <p class="card-text mb-0">1989 жылы биік таулы жерде Алматы облысында музыкалық
                                        аспап пен
                                        төрт бидің бейнесі салынған жартастағы сурет табылды. XIII ғасырда Марко Поло
                                        бұл аспаптың көшпенділердің жауынгерлері арасында болғанын атап өтті.</p>
                                    <p class="card-text mb-0">
                                        Біздің команда сізді музыка әлеміне енуге және осы аңызға айналған аспапта
                                        ойнауды үйренуге шақырады.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="../img/chess.jpg" class="card-img" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Шахмат үйірмесі
                                    </h5>
                                    <p class="card-text">
                                        Археологиялық қазбаларға сәйкес XI ғасырда Қазақстан аумағында алғашқы шахмат
                                        пайда болғанын білесіз бе? Бұл біздің ата-бабаларымыз осы керемет ойынды
                                        ойнағанын және оны ұнатқандығын білдіреді
                                    </p>
                                    <p class="card-text mb-0">
                                        Мүмкін бізге хабарласу арқылы сіз шахматтан Қазақстан Республикасының бірнеше
                                        дүркін чемпионымен бірге оқуға мүмкіндік аласыз.😀
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="../img/salah.webp" class="card-img" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Футбол үйірмесі
                                    </h5>
                                    <p class="card-text">
                                        Барлық балалар әлемге танымал футбол ойынын ұнатады. Егер сіз балаңыздың осы
                                        ойынға деген құштарлығын байқасаңыз, біз сіздерді <span
                                            style="color: #549843;">Abai Academy</span> атындағы футбол
                                        клубына шақырудамыз. Футбол клубында жаттығуды көп жылдық кәсіби тәжірибесі бар
                                        маман өткізеді.⚽️😉
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="../img/archer.jpg" class="card-img" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Садақ ату үйірмесі
                                    </h5>
                                    <p class="card-text">
                                        Шыңғыс ханның жауынгерлері әлемнің жартысын неге жаулап алғанын білесіз бе? Олар
                                        садақшылар болды. Садақ ату - қазақтың ежелден келе жатқан шеберлігі.
                                        <span style="color: #549843;"> Abai Academy</span> ұлттық спорттың қайта
                                        өркендеуіне үлес қосуды мақсат етіп қойды.
                                        11-12 жас аралығындағы балаларды садақ атуға шақырамыз.
                                        Орталықтың ашылуына байланысты жеңілдіктер бар🤗
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <footer class="footer">
        <div class="container d-flex">
            <p>
                &copy; ABAI ACADEMY. Барлық құқықтар қорғалған
            </p>
            <div class="social-links">
                <a href="https://www.instagram.com/abai.academy/" style="color: #e4405f;" target="_blank"><i
                        class="fab fa-instagram"></i></a>
                <a href="https://web.facebook.com/" style="color: #3b5999;" target="_blank"><i
                        class="fab fa-facebook"></i></a>
                <a href="https://www.vk.com/" style="color: #4c75a3;" target="_blank"><i class="fab fa-vk"></i></a>
                <a href="https://www.telegram.org/" style="color: #0088cc;" target="_blank"><i
                        class="fab fa-telegram"></i></a>
                <a href="https://www.youtube.com/" style="color: #cd201f;" target="_blank"><i
                        class="fab fa-youtube"></i></a>
            </div>
        </div>
    </footer>

    <!-- JavaScript -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/accordion.js"></script>
</body>

</html>